{% extends 'account/account_base.html' %}
{% load i18n %}

{% block title %}{% trans "sign up done!" %}{% endblock %}

{% block content %}
<h2>{% trans "sign up" %}</h2>
<p>{% trans "Thank you for signing up with us!" %}</p>

{% if userena_activation_required %}
<p>{% blocktrans %}You have been send an e-mail with an activation link to the supplied email.{% endblocktrans %}</p>
<p>{% blocktrans %}We will store your signup information for {{ userena_activation_days }} days on our server. {% endblocktrans %}</p>
{% else  %}
<p>{% blocktrans %}You can now use the supplied credentials to signin.{% endblocktrans %}</p>
{% endif %}
{% endblock %}
