{% extends 'account/account_base.html' %}
{% load i18n applicationcontent_tags %}

{% block title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
<div id="profile-header">
  <div id="personal-info" class="fixed">
    <a id="picture-of-you" title="{% trans 'your picture' %}" rel="prettyPhoto"><img src="{{ request.user.get_profile.get_mugshot_url }}"></a>
    <h2 id="name">{{ request.user.get_profile.name }}</h2>
    <h3 id="what-you-do">{% trans "Job title" %} / {% trans "Expertise" %}</h3>
  </div>
  <ul id="nav" class="fixed">
    <li><a href="{% app_reverse 'account-profile-detail' 'account.urls' user.username %}">{% trans "view details" %}</a></li>
    <li><a href="{% app_reverse 'account-profile-edit' 'account.urls' user.username %}">{% trans "edit details" %}</a></li>
    <li class="selected"><span>{% trans "change password" %}</span></li>
    <li><a href="{% app_reverse 'account-email-change' 'account.urls' user.username %}">{% trans "change email" %}</a></li>
  </ul>
  <div class="divider"></div>
</div>
<form id="profile-password" class="fixed" action="" method="post" id="password_change_form">{% csrf_token %}
  <fieldset>
    {{ form.as_p }}
  </fieldset>
  <input type="submit" value="{% trans 'Change Password' %}" />
</form>
{% endblock %}
