{% extends 'account/account_base.html' %}
{% load i18n %}

{% block title %}{% trans "sign up" %}{% endblock %}

{% block content %}
{% if user.is_authenticated %}
  <h3>{% trans "sign up" %}</h3>
  {% trans "You have been a member of this site" %}
{% else %}
<form action="" method="post">{% csrf_token %}
  <fieldset>
    <legend><h3>{% trans "sign up" %}</h3></legend>
    <table cellspacing="0" cellpadding="0" id="account-form">
    {% for field in form %}
      {{ field.errors }}
      {% if field.name == 'tos' %}
      <tr><td><label for="id_{{ field.name }}">{{ field }} {{ field.label }}</label></td></tr>
      {% else %}
      <tr>
        <td class="fl">{{ field.label_tag }}</td>
        <td class="fr">{{ field }}</td>
      </tr>
      {% endif %}
    {% endfor %}
    </table>
  </fieldset>
  <input type="submit" value="{% trans 'sign up'%}" class="submit_botton" accessKey="enter">
</form>
{% endif %}
{% endblock %}
